<div class="row">
    <div class="col">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <div class="card" style="width: 100; height: 100;" *ngFor="let recipe of recipes" >
            <img src="{{recipe.imagePath}}" 
                alt ="{{recipe.name}}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{recipe.name}}</h5>
                <p class="card-text">{{recipe.description}}</p>
                <a href="#" class="btn btn-primary">Detalis</a>
            </div>
        </div>
        <app-recipe-item></app-recipe-item>
    </div>
</div>




