<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="card" style="width: 18rem;" *ngFor="let recipe of recipes" >
            <img src="{{recipe.imagePath}}" 
                alt ="{{recipe.name}}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{recipe.name}}</h5>
                <p class="card-text">{{recipe.description}}</p>
                <a href="#" class="btn btn-primary">Detalis</a>
            </div>
        </div>
    </div>
</div>




